<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Main ASCMVC Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <!-- <file>src/Command/DockerManageCommand.php</file> -->
            <!-- <file>src/Command/DockerParsejsonCommand.php</file> -->
            <!-- <file>src/Command/DockerRunCommand.php</file> -->
        </whitelist>
    </filter>
    <!-- <logging>
        <log type="coverage-html" target="./data/codeCoverage" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./data/testdox.html" />
    </logging> -->
</phpunit>
